<div class="p-8 space-y-6">
 <div class="flex items-center justify-between">
    <h2 class="text-2xl font-semibold">Examinations</h2>
    <button pButton label="Add New Exam" icon="pi pi-plus" class="p-button-success" (click)="openDialog()"></button>
  </div>
<p-table [value]="exams" [paginator]="true" [rows]="5" class="p-datatable-sm shadow-md">
  <ng-template pTemplate="header">
    <tr>
      <th>Exam Type</th>
      <th>Department</th>
      <th>Branch</th>
      <th>Status</th>
      <th>Slot</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-exam>
    <tr>
      <td>{{ ExamTypeLabels[exam.examType] || exam.examType }}</td>
      <td>{{ exam.departmentId }}</td>
      <td>{{ exam.branchId }}</td>
      <td>{{ ExamStatusLabels[exam.status] || exam.status }}</td>
      <td>
         <button 
        pButton 
        type="button" 
        label="Create Slot" 
        class="p-button-primary" 
        (click)="openSlotDailog(exam)">
      </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog 
  header="Create New Exam" 
  [(visible)]="displayDialog" 
  [modal]="true"
  [style]="{ width: '90vw', height: '90vh' }"
  [contentStyle]="{ 'overflow-y': 'auto', 'padding-bottom': '4rem' }"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [baseZIndex]="10000"
>


  <form [formGroup]="examForm" (ngSubmit)="saveExam()" class="space-y-6">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block font-semibold mb-1">Exam Type</label>
        <p-select
          [options]="examTypes" 
          formControlName="examType" 
          placeholder="Select Exam Type" 
          class="w-full">
        </p-select>
      </div>

      <div>
        
        <label for="totalMarks" class="block font-bold mb-2">Total Marks</label>
        <p-inputnumber inputId="totalMarks" formControlName="totalMarks" />
      </div>
    </div>
   <div class="mt-2">
          <label class="block font-bold mb-2">Department</label>
          <p-select
            [options]="associatedDepartments"
            [(ngModel)]="selectedDepartment"
            [ngModelOptions]="{standalone: true}"
            (onChange)="onDepartmentChange()"
            optionLabel="name"
            placeholder="Select Department"
            [style]="{ width: '100%' }">
          </p-select>
          <small class="text-red-500" *ngIf="submitted && !selectedDepartment">
            Department is required.
          </small>
        </div>

         @if(selectedDepartment){
    <div>
      <label class="block font-semibold mb-1">Select Subjects from Any Class</label>
      <p-treeSelect
        [(ngModel)]="selectedSubjects"
        [ngModelOptions]="{ standalone: true }"
        [options]="treeNodes"
        (onNodeSelect)="onSubjectChange()"
        selectionMode="checkbox"
        [fluid]="true"
        scrollHeight="200px"
        placeholder="Select Subjects"
      />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      @for (classGroup of groupedSelectedSubjects; track $index) {

         <div class="rounded-xl p-4 shadow-sm" [ngClass]="getColorClass(classGroup.className)">
            <div class="flex justify-between items-center mb-2">
              <h4 class="font-semibold text-base">
                {{ classGroup.className }} - {{ classGroup.sectionName }}
              </h4>
            </div>

            <div class="flex flex-wrap gap-2">
              <ng-container *ngFor="let subject of classGroup.subjects">
                <p-chip 
                  [label]="subject.label"
                  class="bg-white text-gray-800"
                  removable="true"
                  (onRemove)="removeSubject(subject)">
                </p-chip>
              </ng-container>
            </div>
          </div>
      }
    </div>
    }
   

  </form>

 <ng-template pTemplate="footer">
    <div class="w-full fixed bottom-0 left-0 bg-white p-4 border-t border-gray-200 flex justify-end space-x-2 z-10">
      <button 
        pButton 
        type="submit" 
        label="Save Exam" 
        [disabled]="examForm.invalid" 
        class="p-button-primary" 
        (click)="saveExam()">
      </button>
      <button 
        pButton 
        type="button" 
        label="Cancel" 
        class="p-button-secondary" 
        (click)="displayDialog=false">
      </button>
    </div>
  </ng-template>
  <div class="py-6">
  <app-exam-slots [subjects]="selectedSubjectsForTimeTable"></app-exam-slots>
  </div>

</p-dialog>
</div>