 <div class="min-h-screen rounded-lg">
      <div class="bg-primary-500 rounded-lg px-6 py-4">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <i class="pi pi-book text-2xl"></i>
            <h1 class="text-xl font-semibold">Smart Attendance</h1>
          </div>
        </div>
      </div>    

      <div class=" border-b border-gray-200">
        <div class="px-6">
          <nav class="flex space-x-8">
            <button 
              class="py-4 px-1 border-b-2 font-medium text-sm transition-colors"
              [class.border-blue-500]="activeTab === 'attendance'"
              [class.text-blue-600]="activeTab === 'attendance'"
              [class.border-transparent]="activeTab !== 'attendance'"
              [class.text-gray-500]="activeTab !== 'attendance'"
              (click)="activeTab = 'attendance'"
            >
              Take Attendance
            </button>
            <button 
              class="py-4 px-1 border-b-2 font-medium text-sm transition-colors"
              [class.border-blue-500]="activeTab === 'reports'"
              [class.text-blue-600]="activeTab === 'reports'"
              [class.border-transparent]="activeTab !== 'reports'"
              [class.text-gray-500]="activeTab !== 'reports'"
              (click)="activeTab = 'reports'"
            >
              Reports & Analytics
            </button>
            <button 
              class="py-4 px-1 border-b-2 font-medium text-sm transition-colors"
              [class.border-blue-500]="activeTab === 'detailed'"
              [class.text-blue-600]="activeTab === 'detailed'"
              [class.border-transparent]="activeTab !== 'detailed'"
              [class.text-gray-500]="activeTab !== 'detailed'"
              (click)="activeTab = 'detailed'"
            >
              Detailed Reports
            </button>
          </nav>
        </div>
      </div>

      <div *ngIf="activeTab === 'attendance'" class="px-6 py-6">
        <app-take-attendence></app-take-attendence>
      </div>

      <div *ngIf="activeTab === 'reports'" class="px-6 py-6">
        <app-attendence-report></app-attendence-report>
      
      </div>

      <div *ngIf="activeTab === 'detailed'" class="px-6 py-6">
        <app-detailed-reports></app-detailed-reports>
      </div>
    </div>