
    <p-toast></p-toast>
    <p-table
        #dt
        [value]="students()!"
        [rows]="10"
        [columns]="cols"
        [paginator]="true"
        [globalFilterFields]="['firstName']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="false"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Students"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">All Students List</h5>
                <span class="flex items-center justify-between gap-3">
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                    </p-iconfield>
                    <p-button  icon="pi pi-filter" rounded="true" (onClick)="openNew()" />
                    <p-button  icon="pi pi-plus" rounded="true" (onClick)="openNew()" />
                </span>
              
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">Name</th>
                <!-- <th pSortableColumn="name" style="min-width:12rem">
                    Contact Number
                    <p-sortIcon field="name" />
                </th> -->
                <th  style="min-width:12rem">
                    User Name
                </th>
                <th style="min-width: 4rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-student>
            <tr>
               <td style="min-width: 12rem">{{ student.fullName }}</td>
                <!-- <td style="min-width: 12rem">{{ student.contactNumber }}</td> -->
                <td>{{ student.username }}</td>

                <td class="">
                    <i class="pi pi-user-edit hover:text-primary-600 px-3 cursor-pointer" (click)="editStudent(student)" ></i>
                    <i class="pi pi-user-plus hover:text-primary-600 px-3 cursor-pointer" (click)="addOrEditGuardian(student)" ></i>
                    <i class="pi pi-trash hover:text-primary-600 px-3 cursor-pointer" (click)="deleteStudent(student)" ></i>
                </td>
            </tr>
        </ng-template>
    </p-table>

     @if( this.studentDialog){ 
        <app-student-dialog 
        [visible]="studentDialog" 
        [student]="student" 
        [studentProfile]="studentProfile"
        (save)="onStudentSave($event)"
        (cancel)="hideDialog()">
      </app-student-dialog>
    }

    
    @if( this.guardianDialog){
        <app-guardian-dialog 
        [visible]="guardianDialog" 
        [gaurdian]="selectedGaurdian" 
        [guardianProfile]="selectedGaurdianProfile"
        [studentProfile]="selectedStudentProfile"
        (save)="onGuardianSave($event)"
        (cancel)="hideGuardianDialog()">
      </app-guardian-dialog>
    
    }

  <p-confirmdialog [style]="{ width: '450px' }" />    